<div class="row">
  <div class="medium-6 columns">
    <h1>Sign Up</h1>
    <p>
      Getting started is seriously this easy:
    </p>

    <%= render 'users/form' %>
  </div>
  <div class="medium-4 columns">
    <h1>Sign In</h1>

    <%= render 'form' %>
  </div>
</div>
