<h1>Welcome to Cat Meanings</h1>

<p>Cat Meanings helps you document cats and discuss their possible meanings
with other cat enthusiasts around the world.</p>

<p>You're receiving this email either because you signed up for Cat Meanings
yourself, or because a teammate invited you. Either way, you'll need to set up
a password.</p>

<%= email_button_link "Click here to set your password", @reset_password_link %>
