development:
  adapter: postgresql
  encoding: unicode
  database: catmeanings_dev
  pool: 5
  username: chadoh
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: catmeanings_test
  pool: 5
  username: chadoh
  password:
