/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require font-awesome
 *= require pagination
 *= require_self
 */

.avatar img {
  border-radius: 4px;
}

.comment {
  margin-bottom: 1.5em;
}
.comment-body {
  margin-left: 65px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  &:before, &:after {
    transition: border-right-color 0.65s ease-out;
    -webkit-transition: border-right-color 0.65s ease-out 0;
  }
  &:before, &:after {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
    border-right-color: #dddddd;
    border-width: 8px;
  }
  &:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
  }
  header {
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    font-size: .8em;
    .actions {
      float: right;
    }
  }
  .comment-text {
    padding: 20px 15px;
    input[type=submit] {
      margin-bottom: 0;
    }
  }
}
.comment-avatar {
  float: left;
}
